@tailwind base;
@tailwind components;
@tailwind utilities;

html,body {
    width: 100%;
    height: 100%;
    color: white;
}

.typed-cursor {
    font-size: 1.25rem; 
    color: white;
}

.carousel-item {
    object-fit: cover;
}

.carousel-container {
    height: 100%;

}

.carousel-track {
    height: 100%;
}