@tailwind base;
@tailwind components;
@tailwind utilities;

html,body {
    width: 100%;
    height: 100%;
    color: white;
    scroll-behavior: smooth;

}
div {
  scroll-margin-top: 5rem;
}

.typed-cursor {
    font-size: 1.25rem; 
    color: white;
}

.carousel-item {
    object-fit: cover;
}

.carousel-container {
    height: 100%;
    border-radius: 0.75rem;

}

.carousel-track {
    height: 100%;
}